language: python

sudo: false
env:
    - TOXENV=py26
    - TOXENV=py27
    - TOXENV=py33
    - TOXENV=py34
    - TOXENV=pypy
    - TOXENV=flake8
    - TOXENV=coverage

install:
    - travis_retry pip install tox==1.6.1

script:
    - travis_retry tox
