apipkg==1.4
appdirs==1.4.0
execnet==1.4.1
packaging==16.8
pep8==1.7.0
py==1.4.32
pyparsing==2.1.10
pytest==2.9.2
pytest-cache==1.0
pytest-capturelog==0.7
pytest-pep8==1.0.2
six==1.10.0
waitress==0.9.0
